:root {
  --main-bg-color: brown;
   font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none; /* remove o sublinhado dos links */
    color: black; /* altera a cor de todos os links das páginas */
}

/*---------------Header---------------*/
header nav h2{
  margin-right: 60vw;
}
header nav {
    display: flex;
    justify-content: space-between;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px 0 17px;
}
header nav ul{
  display: flex;
  
}
header ul li{
  color: #7D7987;
  padding: 0 20px;
}
header span{
  color: #458FF6;
}
header p{
  color: #7D7987;
}
header button{
  background-color: #458FF6;
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
}
header img{
  width: 30vw;
}
header section.saberMais p{
 text-align: right;
}

/* CUIDADOS */
section.cuidados p{
  color: #7D7987;
}
section.cuidados div ul li{
  display: flex;
  justify-content: space-between;
}